* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
body {
  background-color: #f4ffe3;
}
#root {
  width: 100%;
}
.app-wrapper {
  display: grid;
  /*margin: auto;*/
  min-height: 100vh;
  grid-template-areas: "h h"
                       "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}
.app-wrapper-content {
  grid-area: c;
  background-color: #eeeee4;
  padding: 10px;
  margin-top: 2px; 
  overflow: hidden;
}