* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
body {
  background-color: #f4ffe3;
}
#root {
  width: 100%;
}
.app {
  display: flex;
  flex-direction:row;
  align-items: center;
}
.wrap {
  width: 1140px;
  display: flex;
  flex-direction: row;
  
  justify-content: center;
  align-content: space-between;
}